.dropdown {
    position: relative;
    display: flex;
    width: 400px;
    padding: 20px;
    border: 1px solid blueviolet;
    justify-content: center;
}

.toggle {
    font-size: 30px;
    font-weight: bold;
    background-color: blueviolet;
}

.toggle:active{
box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}

.toggle:hover{
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 91%;
    padding: 20px;
    text-align: center;
    background-color: blueviolet;
    color: aliceblue;
}